<style>
  .sticker, .sticker-small, .sticker-large {
    display: inline-block;
    text-align: center;
    transition: transform 0.2s ease;
    cursor: default;
  }

  .sticker {
    font-size: 2.5rem;
    width: 60px;
    height: 60px;
    line-height: 60px;
  }

  .sticker-small {
    font-size: 1.5rem;
    width: 40px;
    height: 40px;
    line-height: 40px;
  }

  .sticker-large {
    font-size: 3.5rem;
    width: 80px;
    height: 80px;
    line-height: 80px;
  }

  .sticker:hover, .sticker-small:hover, .sticker-large:hover {
    transform: scale(1.2) rotate(10deg);
  }
</style>